<div class="leave-request-container">
    <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" required>
      </div>
      <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" formControlName="startDate" required>
      </div>
      <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" formControlName="endDate" required>
      </div>
      <div class="form-group">
        <label for="employeeEmail">Your Email:</label>
        <input type="email" id="employeeEmail" formControlName="employeeEmail" required>
      </div>
      <div class="form-group">
        <label for="adminEmail">Admin Email:</label>
        <input type="email" id="adminEmail" formControlName="adminEmail" required>
      </div>
      
      <div class="form-group">
        <label for="reason">Reason:</label>
        <textarea id="reason" formControlName="reason" required></textarea>
      </div>
      <button type="submit" [disabled]="leaveForm.invalid">Submit</button>
    </form>
  </div>
  